.StatPageWrapper {
  height: 50vh;
  background-color: #F8F8F8;
  padding-top: 7%;
}

.landingPageWrapper { 
  height:100vh;
  background: #002FA4;
}

.AboutPageWrapper{
  height:100vh;
  background: white;
}

.TechPageWrapper {
  height:100vh;
  background-color: white;
}

.ProjectPageWrapper {
  height: 100vh;
  background-color: red;
}

.CustomerPageWrapper {
  height: 100vh;
}

.FooterWrapper {
  height: 30vh;
}
