.StatPageWrapper {
  height: 50vh;
  background-color: #F8F8F8;
  padding-top: 7vh;
}

.landingPageWrapper {
  height:100vh;
  background: #002FA4;
}

.AboutPageWrapper{
  height:100vh;
  background: white;
}

.TechPageWrapper {
  height:100vh;
  background-color: white;
}

.ProjectPageWrapper {
  height: 100vh;
  background: linear-gradient(to right, #4470DE 60vw, white 40vw);
}

.CustomerPageWrapper {
  height: 100vh;
}

.FooterWrapper {
  height: 30vh;
}

.TestimonialsWrapper {
  height: 100vh;
  background: linear-gradient(to right, #B1CBF6 60vw, white 40vw);
}
.JoinUsPageWrapper {
  height: 100vh;
  background: linear-gradient(to right, #B1CBF6 60vw, white 40vw);
}
