hr {
    display: block;
    height: 1vh;
    border: 0;
    background-color: white;
    margin: 1em 0;
    padding: 0;
}
#riceAppsText{
    font-size: 12vh;
    padding-bottom:0;
}

#grid{
    height:103vh;/*Makes the page fill the whole page and then some*/
  background: #002FA4;
}

#weDoThingsText{
    font-size: 5vh;
    /*padding-top:;*/
}
.whiteText{
    color: #ffffff;
}
.lightBlue{
    color: #729AFC !important;
}
