
#hamburger{
    position: fixed;
    align-self: flex-start;
    justify-content: flex-start;
    width: 20vw;
    height: 30vh;
}
button{
    outline:none;
}
#mySidebar{
    position:fixed;
}
.content hr {
    height: 0.5vh;
    border: 0;
    background-color: white;
    margin: 1em 0;
    padding: 0;
    width: 38vw;
}
#riceAppsText{
    font-size: 12vh;
    color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center;
    /*align-self: flex-end;*/
}

.content{
    height:103vh;/*Makes the page fill the whole page and then some*/
    background: #002FA4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#whiteText{
    padding-top: 8vh;
    margin-left: 3vw;
    font-size: 5vh;
    color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*align-self: flex-start;*/
}
#weDoThingsText{
  padding-left: 2vw;
  width: 50vw;
}
.lightBlue{
    color: #729AFC !important;
}
