.title{
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: space-around;
  color: #B1CBF6;
  padding-left: 5%;
  padding-top: 12%;
  width: 75%;
  height: 20%;
}

.title h1{
  font-size: 500%;
}

.title hr{
  background-color: #B1CBF6;
  width: 30%;

}

.projectSection{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 6%;
  height: 50%

}

.projectSection .emptySpace{
  height: 80%;
  width: 18%;
  background: #D8D8D8;
}
