.outside-testimonials {
    height: 100vh;
    background: linear-gradient(to right, white 0%, white 30%, #729AFC 30%, #729AFC 100%);
}

.horz-line {
    background-color: #002FA4 !important;
    z-index: 9999;
    height: 0.8vh;
    width: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 75vh;
    position: absolute;
}

#testament {
    color: white !important;
    font-size: 6vh;
    z-index: 9999;
    position: absolute;
    margin-top: 25vh;
    margin-left: 60vh;
    line-height: 1.45;
    width: 100vh;
}

#testimonial-title {
    color: #002FA4;
    margin-left: 6vh;
    font-size: 8vh;
    margin-top: 2vh;
    padding-top: 4vh;
}
