.TestimonialsWrapper {
  height: 100vh;
  background: linear-gradient(to right, white 0vw, white 30vw, #729AFC 30vw, #729AFC 100vw);
  display: flex;
  align-items: center;
}


.outside-testimonials {
  display: flex;
  flex-wrap: wrap;
}

#line1 {
  padding-top: 5vh;
  width: 100vw;
}

.outside-testimonials hr {
  height: 0.5vh;
  border: 0;
  background-color: #002FA4;
  padding: 0;
  width: 30vw;
  margin-left: 20vw;
}


#testament {
    display: flex;
    flex-wrap: nowrap;
    color: white !important;
    font-size: 6vh;
    margin-right: 15vw;
    font-style: italic;
    padding-left: 30vw;
}

#testimonial-title {
    padding-top: 5vh;
    color: #002FA4;
    font-size: 7vh;
    line-height: 1.15;
    display: flex;
    margin-left: 3vw;
    justify-content: flex-start;
    font-weight: bold;
}
#titleText {
  width: 20vw;
}

#testText {
  height: 30vh;
  line-height: 1.50;
  padding-left: 3vw;
}
#quot1 {
  margin-top: -5vh;
  height: 0.2vh;
  font-family: Didot;
  font-size: 20vh !important;
  color: #002FA4 !important;
  font-weight: bold;
}
#quot2 {
  height: 0.2vh;
  font-family: Didot;
  font-size: 20vh !important;
  color: #002FA4 !important;
  font-weight: bold;
  margin-top: 25vh;
}
